* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}
.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #161718;
}

.spinner_con {
  --size: 200px;
  --thickness: 25px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  border-radius: 50%;
  background-color: #060707;
  box-shadow: 0 0 30px white;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.spinner_con ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, white, transparent);
  background-size: 100% 80%;
  background-repeat: no-repeat;

  border-top-left-radius: calc(var(--size) / 2);
  border-bottom-left-radius: calc(var(--size) / 2);
}
.spinner_con::after {
  content: "";
  width: calc(var(--size) - (var(--thickness) * 2));
  height: calc(var(--size) - (var(--thickness) * 2));
  position: absolute;
  top: var(--thickness);
  left: var(--thickness);
  border-radius: 50%;
  background-color: #161718;
  box-shadow: 0 0 50px inset white;
}
.ball {
  width: var(--thickness);
  height: var(--thickness);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white,
    0 0 50px white;
}

.loading {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: white;
  font-size: 26px;
}

header {
  box-shadow: 0 0 10px black;
}

.align-items-center {
  margin-top: 10px;
}

.search {
  margin-top: 5%;
  border: 2px solid rgb(211, 208, 208);
  border-radius: 10px;
}
.desc {
  margin-top: 4%;
}
p {
  color: gray;
}

.about {
  margin-top: 4%;
  background: rgb(23, 22, 23);
  background: linear-gradient(
    90deg,
    rgba(23, 22, 23, 0.8914916308320203) 6%,
    rgba(91, 91, 93, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.h1title {
  color: white;
}
h6 {
  color: white;
}
